*{
    padding: 15px;
}
body {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
div {
    border: solid #af0b0e 15px;
    margin: 15px auto;
}
div p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}
body>div>div>div{
    background-color: aqua;
}
body>div>div{
    background-color: greenyellow;
}
body>div{
    background-color: gold;
}
p+div{
    color: red;
}
div div div p{
    color: green;
}